:root {
  --background-color: #F0F0F0;
  --color-darker-green: #97DBAE;
  --color-ligher-green: #bed4c6;
  --color-yellow: #F1E1A6;
  --color-peach: #F4BBBB;
  --text-color: #000;
  
  --background-color-dark-mode: #5E5E5E;
  --color-darker-green-dark-mode: #4c7058;
  --color-lighter-green-dark-mode: #9cb88c;
  --color-yellow-dark-mode: #baab75;
  --color-peach-dark-mode: #b88d8d;
  --text-color-dark-mode: #b6b6b6;

 
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--background-color);
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: var(--text-color-dark-mode);
    background-color: var(--background-color-dark-mode);
  }
  a:hover {
    color: #b3b5d8;
  }
  button {
    background-color: #c7c4d5;
  }
}
